<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>titles</title>
    <style>DIV.container {
        min-height: 10em;
        display: table-cell;
        vertical-align: middle }</style>
</head>
<body style="text-align:center; block-size: auto; height: fit-content; background-color: rgb(243, 223, 226);">
    <p style="height: 150px;"></p>
    <span style="background-color: lightpink; color: rgb(1, 61, 121);stroke: black; font-size: large; font-style: normal; font-weight: bold;">WELCOME TO ExpenseTracker</span>
    <br><br>
    <div class="col-lg -5">
        <form class="text-center">
            <span  style="background-color: lightpink;"><a href="home">______________________________________HOME______________________________________</a>
            <br><br></span>
            <span style="background-color: lightpink;"><a href="login">______________________________________LOGIN_____________________________________</a>
            <br><br></span>
            <span  style="background-color: lightpink;"><a href="signup">______________________________________SINGUP____________________________________</a>
            <br><br></span>
            <span  style="background-color: lightpink;"><a href="Dashboard">_____________________________________DASHBOARD________________________________</a>
            <br><br></span>
            <span  style="background-color: lightpink;"><a href="RenderIncome">______________________________________INCOME____________________________________</a>
            <br><br></span>
            <span  style="background-color: lightpink;"><a href="RenderExpense">______________________________________EXPENSE___________________________________</a>
            <br><br></span>
            <span  style="background-color: lightpink;"><a href="ShowIncome">_____________________________________SHOW INCOME______________________________</a>
            <br><br></span>
            <span  style="background-color: lightpink;"><a href="ShowExpense">_____________________________________SHOW EXPENSE_____________________________</a></span>
        </form>
    </div>
</body>
</html>